<div class="container-fluid">
    <h3>Informações do lote</h3>
    <div class="col-md-12 txtBox">
        <div class="row">
            <div class="form-group col-md-2">
                <p><strong>Número do lote: </strong><span></span></p>
            </div>
            <div class="form-group col-md-2">
                <p><strong>Valor total: </strong><span></span></p>
            </div>
            <div class="form-group col-md-2">
                <p><strong>Valor imposto: </strong><span></span></p>
            </div>
            <div class="form-group col-md-2">
                <p><strong>Situação: </strong><span></span></p>
            </div>
            <div class="form-group col-md-2">
                <p><strong>Data da situação: </strong><span></span></p>
            </div>
        </div>
        
        <hr class="marginTop-1per">
    </div>
</div>

<hr class="marginTop-1per">