<div class="container-fluid">
    <h3>Informações adicionais</h3>
    <div class="col-md-12 txtBox">
        <div class="row">
            <div class="form-group col-md-2">
                <p><strong>Status do movimento: </strong><span></span></p>
            </div>
            <div class="form-group col-md-2">
                <p><strong>Data de inclusão: </strong><span></span></p>
            </div>
            <div class="form-group col-md-2">
                <p><strong>Funcionário inclusão: </strong><span></span></p>
            </div>
            <div class="form-group col-md-2">
                <p><strong>Data de alteração: </strong><span></span></p>
            </div>
            <div class="form-group col-md-2">
                <p><strong>Funcionário alteração: </strong><span></span></p>
            </div>
        </div>
        
        <hr class="marginTop-1per">
        
        <div class="row">
            <div class="form-group col-md-3">
                <p><strong>Funcioário que está tratando as etapas: </strong><span></span></p>
            </div>
            <div class="form-group col-md-2">
                <p><strong>Mov. de prêmio pendente: </strong><span></span></p>
            </div>
            <div class="form-group col-md-2">
                <p><strong>Dedução de prêmio pendente: </strong><span></span></p>
            </div>
            <div class="form-group col-md-2">
                <p><strong>Status consulta listas PLD: </strong><span></span></p>
            </div>
        </div>
        
        <hr class="marginTop-1per">
    
    </div>
</div>

<hr class="marginTop-1per">