<div class="container-fluid">
    <h3>Cálculo de imposto</h3>
    <div class="col-md-12 txtBox">
        <div class="row">
            <table id="example3" class="table">
                <thead>
                    <tr>
                        <th>Movimento</th>
                        <th>Tipo</th>
                        <th>Estorno</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Teste</td>
                        <td>Teste</td>
                        <td>Teste</td>
                        <td>XX/XX/XXXX</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<hr class="marginTop-1per">