<div class="container-fluid">
    <div class="col-md-12 txtBox">
        <form role="form" id="formID">
            <div class="row">
                <div class="form-group col-md-1">
                    <label for="movimento">Movimento</label>
                    <input class="form-control input-sm" type="text" name="movimento" id="movimento" disabled>
                </div>
                <div class="form-group col-md-2">
                    <label for="sinistro">Sinistro</label>
                    <input class="form-control input-sm" type="text" name="sinistro" id="sinistro">
                </div>
                <div class="form-group col-md-2">
                    <label for="data">Reclamante</label>
                    <select class="form-control input-sm">
                        <option>Selecione</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="data">Cobertura</label>
                    <select class="form-control input-sm">
                        <option>Selecione</option>
                    </select>
                </div>
                
                <div class="form-group col-md-2">
                    <label for="data">Tipo de pagamento</label>
                    <select class="form-control input-sm">
                        <option>Selecione</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="valor">Valor</label>
                    <input class="form-control input-sm" type="text" name="valor" id="valor">
                </div>
                <div class="form-group col-md-1 marginTop-1per">
                    <a href="#" class="btn btn-success">
                        <i class="fa fa-plus-square-o fa-lg"></i>
                    </a>
                    <a href="#" class="btn btn-danger marginLeft-1per">
                        <i class="fa fa-trash-o fa-lg"></i>
                    </a>
                </div>                                        
            </div>
        </form>              
    </div>
</div>

<hr class="marginTop-3per">