<div class="container-fluid">
    <h3>Integração com financeiro</h3>
    <div class="col-md-12 txtBox">
        <div class="row">
            <table id="example3" class="table">
                <thead>
                    <tr>
                        <th>Movimento</th>
                        <th>Data envio</th>
                        <th>Data retorno</th>
                        <th>Num. Solicitação SCP</th>
                        <th>Status</th>
                        <th>Data Status</th>
                        <th>Erro</th>
                        <th>Observação</th>                    
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Movimento</td>
                        <td>XX/XX/XXXX</td>
                        <td>XX/XX/XXXX</td>
                        <td>123456789</td>
                        <td>Lorem ipsum</td>
                        <td>XX/XX/XXXX</td>
                        <td>Lorem ipsum dolor sit amet</td>
                        <td>consectetur adipiscing elit</td>                    
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<hr class="marginTop-1per">