<div class="container-fluid">
    <h3>Resumo</h3>
    <div class="col-md-12 txtBox">
    <div class="row">
        <div class="form-group col-md-2">
            <p><strong>Valor prejuizos: </strong><span></span></p>
        </div>
        <div class="form-group col-md-2">
            <p><strong>Valor franquia: </strong><span></span></p>
        </div>
        <div class="form-group col-md-2">
            <p><strong>Valor Pr. pendente: </strong><span></span></p>
        </div>
        <div class="form-group col-md-2">
            <p><strong>Valor Part. QBR: </strong><span></span></p>
        </div>
        <div class="form-group col-md-2">
            <p><strong>Valor indenização: </strong><span></span></p>
        </div>
    </div>
    
    <hr class="marginTop-1per">
    
    <div class="row">
        <div class="form-group col-md-2">
            <p><strong>Cosseguro: </strong><span></span></p>
        </div>
        <div class="form-group col-md-2">
            <p><strong>Resseguro: </strong><span></span></p>
        </div>
        <div class="form-group col-md-2">
            <p><strong>Imposto: </strong><span></span></p>
        </div>
        <div class="form-group col-md-2">
            <p><strong>Cancelado?: </strong><span></span></p>
        </div>
        <div class="form-group col-md-2">
            <p><strong>Aprovado?: </strong><span></span></p>
        </div>
        <div class="form-group col-md-2">
            <p><strong>Validado?: </strong><span></span></p>
        </div>
    </div>
    
    <hr class="marginTop-1per">
    
    <div class="row">
        <div class="form-group col-md-2">
            <p><strong>Data de inclusão: </strong><span></span></p>
        </div>
    </div>
    
    </div>
    </div>
    
    <div class="container-fluid marginTop-1per">
    <div class="alert alert-danger">Mensagem de erro caso ocorra</div>
    </div>
    
    <hr>